.weather {
  max-width: 350px;
  background-color: var(--c-blue);
  color: var(--c-white);
  border-radius: 5px;
  margin-bottom: 20px;
}

.block {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.input {
  border: 1px solid var(--c-gainsboro);
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  height: 45px ;
}

.input:hover {
  border-color: var(--c-orange);
}

.search {
  font-size: 25px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}