/* Header navigation */
.link {
  transition: all 0.15s ease-in 0s;
  color: var(--c-brown);
  display: flex;
  padding: 10px;
}

.link:hover {
  color: var(--c-orange);
}

.list {
  align-items: center;
  display: flex;
}




