.header {
  background-color: var(--c-white);
  min-height: 80px;
}

.container {
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: center;
  padding-top: 15px;
  margin: 0 auto;
  display: flex;
}

/*  Header buttons */
.button {
  align-items: center;
  display: flex;
  gap: 30px;
}