.news {
  background-color: var(--c-gainsboro);
  max-width: 300px;
  width: 100%;
}

.title {
  padding-bottom: 15px;
  text-align: center;
  padding-top: 15px;
}

.list {
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
}

.item {
  background-color: var(--c-lightsteelblue);
  margin-bottom: 10px;
  min-height: 110px;
  width: 100%;
}