/* * Banner */
.banner {
  margin-bottom: 20px;
  margin-top: 20px;
}

.content {
  background-color: var(--c-gainsboro);
  justify-content: center;
  align-items: center;
  min-height: 145px;
  display: flex;
}

.block {
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}

.title {
  padding-bottom: 10px;
}